" ================================================================================================
" = 基础设置 =====================================
" ================================================================================================
"--设置在光标距离窗口顶部或底部一定行数时，开始滚动屏幕内容的行为
set scrolloff=10

"--设置与系统剪贴板同步
set clipboard+=unnamed

"--启用或禁用光标所在行的高亮显示
set cursorline

"--在搜索时忽略大小写
set ignorecase

"--将搜索匹配的文本高亮显示
set hlsearch

"--设置相对行号 和 当前行的绝对行号
set number relativenumber

"--递增搜索功能：在执行搜索（使用 / 或 ? 命令）时，
"--会在输入搜索模式的过程中逐步匹配并高亮显示匹配的文本
set incsearch

"--高亮复制的文本
set highlightedyank

"--设置返回normal模式时回到英文输入法
set keep-english-in-normal

" ================================================================================================
" = 插件设置 =====================================
" ================================================================================================
"--启用插件
set NERDTree
set easymotion
set surround
set multiple-cursors
set which-key

"--设置whichkey单步等待时长
set timeoutlen=3000
"--设置whichkey呼出延迟时长
let g:WhichKey_DefaultDelay = 500

"--EasyMotion配置
"启用大小写不敏感功能
let g:EasyMotion_smartcase = 1
"使用小写标签
let g:EasyMotion_use_upper = 0

" ================================================================================================
" = 基础键位映射 =====================================
" ================================================================================================

"--在普通和插入模式下，向下/向上交换行
nnoremap <D-j> :m +1<CR>
nnoremap <D-k> :m -2<CR>
inoremap <D-j> <Esc> :m +1<CR>gi
inoremap <D-k> <Esc> :m -2<CR>gi

"--将 kk 映射为 <Esc>
inoremap kk <ESC>

"--单键esc消除代码提示
inoremap <ESC> <ESC>a

"--快速到行头行尾
nmap H ^
nmap L $

"--取消撤销
nnoremap U <C-r>

"--快捷全选
nmap die ggdG
nmap yie ggyG
nmap vie ggvG

"--默认dd删除不保存到剪贴板
nnoremap x "_x
nnoremap X "_X
nnoremap d "_d
nnoremap D "_D
vnoremap d "_d

"--使用退格键删除光标前一个字符（普通模式和可视模式）
nnoremap <Backspace> i<BS><Esc>l
vmap <Backspace> di

"--函数定义跳转
nnoremap gd :action GotoDeclaration<CR>

"--终端和界面操作
map <C-t> :action ActivateTerminalToolWindow<CR>
map <C-z> :action ToggleDistractionFreeMode<CR>
map <c-e> :NERDTree<CR>

"--窗口分割和导航
map <c-o> <Action>(Back)
map <c-i> <Action>(Forward)
map <c-\> <Action>(SplitVertically)
map <c--> <Action>(SplitHorizontally)
map <c-=> <Action>(Unsplit)
map <c-m> <Action>(MoveEditorToOppositeTabGroup)

" ================================================================================================
" = Leader键位映射 =====================================
" ================================================================================================

"--将<leader>设置为空格键
let mapleader=" "

"--这一行为在按下<leader>后显示的
let g:WhichKeyDesc_LeaderKeymap= "<leader> LeaderKeymap"

"--代码相关操作
let g:WhichKeyDesc_CodeAndClose = "<leader>c CodeAndClose"
let g:WhichKeyDesc_CodeAndClose_CloseAllEditors = "<leader>ca CloseAllEditors"
nmap <leader>ca <action>(CloseAllEditors)
let g:WhichKeyDesc_CodeAndClose_CloseEditor = "<leader>ce CloseEditor"
nmap <leader>ce :action CloseEditor<CR>
let g:WhichKeyDesc_CodeAndClose_CopyReference = "<leader>cp CopyReference"
nmap <Leader>cp :action CopyReference<CR>

"--调试相关
let g:WhichKeyDesc_Debug = "<leader>d Debug"
nmap <Leader>db <action>(Debug)

"--查找和格式化
let g:WhichKeyDesc_FindOrFormat = "<leader>f FindOrFormat"
let g:WhichKeyDesc_FindOrFormat_FindFile = "<leader>ff FindFile"
nmap <leader>ff <action>(GotoFile)
let g:WhichKeyDesc_FindOrFormat_FindFileLocation = "<leader>fl FindFileLocation"
nmap <leader>fl <action>(SelectInProjectView)
let g:WhichKeyDesc_FindOrFormat_FindText = "<leader>ft FindText"
nmap <leader>ft <action>(FindInPath)
let g:WhichKeyDesc_FindOrFormat_Commands = "<leader>fc Commands"
nmap <leader>fc <action>(GotoAction)
let g:WhichKeyDesc_FindOrFormat_Format = "<leader>fm Format"
nmap <leader>fm <action>(ReformatCode) \| <action>(OptimizeImports)

"--标签页导航
let g:WhichKeyDesc_PreviousTab = "<leader>h PreviousTab"
nmap <leader>h :action PreviousTab<CR>
let g:WhichKeyDesc_NextTab = "<leader>l NextTab"
nmap <leader>l :action NextTab<CR>

"--方法实现
let g:WhichKeyDesc_ImplementMethods = "<leader>im ImplementMethods"
nnoremap <Leader>im :action ImplementMethods<CR>

"--插入分号并新建行
let g:WhichKeyDesc_InsertSemicolon = "<leader>j InsertSemicolon"
nmap <leader>j A;kko

"--新建文件操作
let g:WhichKeyDesc_NERDTreeOrNew = "<leader>n New"
let g:WhichKeyDesc_NERDTreeOrNew_NewDir = "<leader>nd NewDir"
nmap <leader>nd <action>(NewDir)
let g:WhichKeyDesc_NERDTreeOrNew_NewClass = "<leader>nc NewClass"
nmap <leader>nc <action>(NewClass)

"--运行和重命名
let g:WhichKeyDesc_RunOrRe = "<leader>r RunOrRe"
let g:WhichKeyDesc_RunOrRe_RunCalss = "<leader>rc RunClass"
nmap <leader>rc :action RunClass<CR>
let g:WhichKeyDesc_RunOrRe_RenameElement = "<leader>re RenameElement"
map <leader>re <action>(RenameElement)
let g:WhichKeyDesc_RunOrRe_RenameFile = "<leader>rf RenameFile"
nnoremap <Leader>rf :action RenameFile<CR>
noremap <leader>rr <ESC>:source ~/.ideavimrc<cr>

"--显示相关操作
let g:WhichKeyDesc_Show = "<leader>s Show"
let g:WhichKeyDesc_Show_FileStructure = "<leader>ss ShowFileStructure"
nmap <leader>ss <action>(FileStructurePopup)
let g:WhichKeyDesc_Show_ShowUsages = "<leader>su ShowUsages"
nnoremap <Leader>su :action ShowUsages<CR>
let g:WhichKeyDesc_Show_ShowByteCodeJclasslib = "<leader>sb ShowByteCodeJclasslib"
nnoremap <Leader>sb :action ShowByteCodeJclasslib<CR>

"--终端操作
let g:WhichKeyDesc_OpenInTerminal = "<leader>t OpenInTerminal"
nnoremap <leader>t :action Terminal.OpenInTerminal<CR>

"--代码折叠
let g:WhichKeyDesc_Zip = "<leader>z Zip"
let g:WhichKeyDesc_Zip_unZipAll = "<leader>zo unZipAll"
nmap <leader>zo <action>(ExpandAllRegions)
let g:WhichKeyDesc_Zip_ZipAll = "<leader>zc ZipAll"
nmap <leader>zc <action>(CollapseAllRegions)

"--EasyMotion快捷键
"字符跳转
nmap f <Plug>(easymotion-s2)
xmap f <Plug>(easymotion-s2)
omap f <Plug>(easymotion-s2)
"单词跳转
nmap F <Plug>(easymotion-bd-w)
xmap F <Plug>(easymotion-bd-w)
omap F <Plug>(easymotion-bd-w)

"--AceJump快捷键
"按's'激活AceJump
nnoremap s :<C-u>action AceAction<CR>
"按'S'激活Target模式（跳转并选中整个单词）
nnoremap S :<C-u>action AceTargetAction<CR>

"--搜索和替换
nnoremap g/ :action FindInPath<cr>
noremap ' :action Replace<cr>
noremap g' :action ReplaceInPath<cr>